include MANIFEST.in

# These files are referenced from setup.py so we must make sure
# of including them in the source distribution.
include VERSION
include requirements/netprobify.txt
include requirements/tests.txt
include netprobify/schema_config.yaml
